@charset "UTF-8";

/* MOBILE-FIRST 🟤 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif Arial, Helvetica, sans-serif;
}

header{
    background-color: pink;
    padding: 4px;
}

#logo{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 15px auto;
}

nav{
    display: flex;
    justify-content: space-around;
}

#menu ul{
    width: auto;
    margin-left: 10px;
    color: brown;
}
#menu li{
    color: brown;
    font-size: 1.2em;
}
#menu a.nav{
    text-decoration: none;
    width: 94px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 8px;
}
#social img{
    width: 45px;
    border-radius: 35%;
    margin: -14px 0px -5px 10px;
}