@charset "UTF-8";

/* MOBILE-FIRST */

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Old Standard TT", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr{
    margin-top: -20px;
}

header{
    background-color: pink;
    padding: 4px;
}

#logo{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 15px auto;
}

nav{
    display: flex;
    justify-content: space-around;
}

#menu ul{
    width: auto;
    margin-left: 10px;
    color: brown;
}
#menu li{
    color: brown;
    font-size: 1.3em;
    font-weight: 500;
}
#menu a.nav{
    text-decoration: none;
    width: 94px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 8px;
}
#social img{
    width: 45px;
    border-radius: 35%;
    margin: -14px 0px -5px 10px;
}

section.banner{
    height: 600px;
    width: 100%;
    background-color: pink;
    margin: 60px auto;
    display: flex;
    flex-direction: column-reverse;
}
div#sobre{
    padding: 20px;
}
div#sobre h1{
    text-align: center;
    font-size: 2.5em;
}
div#sobre p{
    max-width: 400px;
    text-align: justify;
    margin: 10px auto;
    font-size: 1.05em;
}
div#imagem{
    background: brown url("../imagens/moca-sorrindo.jpg") no-repeat center top;
    background-size: cover;
    height: 100%;
}

.titulo{
    margin: 50px 0px 10px 15%;
    font-size: 2.6em;
    text-decoration: #cfaa5c underline;
}

section#servicos{
    margin: 50px auto;
    max-width: 1200px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}
div.servico{
    max-width: 400px;
    min-width: 230px;
    margin: 10px;
}
div.servico img{
    max-width: 100%;
}
div.servico .desc{
    text-align: center;
    margin: 20px;
}
div.align{
    display: flex;
    justify-content: center;
}
a.agendar{
    color: brown;
    text-decoration: none;
    background-color: pink;
    padding: 15px;
    border-radius: 40px;
    font-weight: bold;
}
a.agendar:hover{
    background-color: brown;
    color: pink;
    transition-duration: .25s;
}